*{
    font-family: sans-serif;
    user-select: none;
}
.body{
    background-color: rgb(233, 212, 198);
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Titulo{
    color: #f2e6e6;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.margin-left{
    margin-left: 15vw;
}
.row_header{
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: -3%;
    padding-left: -3%;
}
.Header{
    background-color: rgb(26, 77, 128);
    color: white;
    height: auto;
    width :100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease.8s;
    position: relative;
    z-index:97;
    overflow: hidden;

}
.col1_1{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.centrado h6{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content-center{
    display: flex;
    align-items: center;
    place-content: center;
}

.contentx-center{
    display: flex;
    align-items: center;
}
.align-content{
    text-align: center;
}

.imagen_tumor{
    height: 500px;
    width: 700px;
}

.text-fuente{
    font-size: 15px;
    font-family:sans-serif;
}

.mt-4{
    margin-top: 4rem;
}
.border{
    border-radius: 50px;
}
.container {
    position: relative;
    width: 1500px; /* O el ancho que desees */
    background-color:rgb(26, 77, 128); /* Azul */
    margin-bottom: 5vh;
    margin-top: 5vh;
    flex-direction: column;
    gap: 10px;
    color: #ddd;
}

.circle {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/003/428/270/small_2x/businessman-explain-pose-character-design-free-vector.jpg');
    position: absolute;
    top: -40px; /* Ajusta la posición como necesites */
    left: -30px; /* Ajusta la posición como necesites */
    width: 150px; /* O el tamaño del círculo que desees */
    height: 150px; /* O el tamaño del círculo que desees */
    border-radius: 50%; /* Esto hace que sea un círculo */
    background-size: cover;
    background-position: center;
}

.SanSerif{
    font-family:sans-serif;
}


.text-margin{
    margin-top: 20px;
}

.card {
    border: 1px solid #ddd;
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 400px;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    font-family:sans-serif;
    padding: 5px;
    width: 370px;
    text-align: justify;
}

.row_info{
    display:flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.row_info2{
    display:flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.accordion{
    margin-top: 20px;
    width: 1100px;
    padding-bottom: 30px;
}
.row{
    display: flex;
    flex-direction: row;
}
.div_table{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 900px;
    height: 500px;
    flex-direction: column;
    gap: 10px;
}

.container2{
    position: relative;
    width: 400px; /* O el ancho que desees */
    background-color: #ffffff; /* Azul */
    flex-direction: column;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.circle2 {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/003/428/270/small_2x/businessman-explain-pose-character-design-free-vector.jpg');
    position: absolute;
    top: -20px; /* Ajusta la posición como necesites */
    left: -15px; /* Ajusta la posición como necesites */
    width: 70px; /* O el tamaño del círculo que desees */
    height: 70px; /* O el tamaño del círculo que desees */
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
.div_info{
    text-align: justify;
    width: 80%;
    padding: 15px;
}
.Row_table{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.div_contenedor{
    margin: 0;
    padding: 0;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}


.center_fig{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px
}
.margin-10{
    margin-top: 50px;
}

.input_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100px;
    width: 200px;
    font-size: medium;
    gap: 20px;
}
.input_charac{
    width: 80%;
    border-radius: 20%;
    justify-content: center;
    text-align: center;
}
.div_button{
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.button-pred{
    background-color:rgb(128, 26, 26) ;
    text-align: center;
    font-size: medium;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 25%;
    border-color: rgb(128, 26, 26);
    padding: 10px 50px;
}
.button-pred:hover{
    background:rgb(124, 68, 68);
    border-radius: 25%;
    border-color: rgb(128, 26, 26);
}
.margintTitle{
    margin-top: 20px;
}
.predeterminedDiv{
    background-color: rgb(128, 26, 26);
    padding: 30px;
    border-radius: 25%;
    border-color: rgb(128, 26, 26);
}
.circle_div{
    position: absolute;
    top: 45%; /* Ajusta la posición como necesites */
    left: 20px; /* Ajusta la posición como necesites */
    width: 130px; /* O el tamaño del círculo que desees */
    height: 130px; /* O el tamaño del círculo que desees */
    border-radius: 10%;
}

.circle-hover {
    position: relative;
    width: 130px;
    height: 130px;
    perspective: 1000px;
}
.circle_nota, .circle_notaTexto {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    backface-visibility: hidden;
    transition: transform 0.6s linear;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.circle_nota {
  background-image: url('../images/idea.png');
    background-color: #f2e6e6;
    transform: rotateY(0deg);
  }
  
  .circle_notaTexto {
    background-color: #f2e6e6;
    color: black;
    text-align: center;
    transform: rotateY(180deg);
  }
  
  .circle-hover:hover .circle_nota {
    transform: rotateY(-180deg);
  }
  
  .circle-hover:hover .circle_notaTexto {
    transform: rotateY(0deg);
  }
  
.center_text{
    margin-top: 20%;
    font-size: small;
}

/* Estilos para el dropdown en sí */
.Select-control {
    background-color: #f2f2f2;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

/* Estilos para las opciones del dropdown */
.VirtualizedSelectOption {
    background-color: #ffffff;
    color: #333333;
}

/* Estilos para la opción seleccionada */
.VirtualizedSelectFocusedOption {
    background-color: rgb(26, 77, 128);
    color: #ffffff;
}
